.container {
    width: 100%;
    min-height: 100vh;
}

.jumbotronContainer {
    display: flex;
    width: 100%;
    min-height: 90vh;
    padding-top: 2rem;
}

.jumbotronBg {
    position: absolute;
    left: 0;
    z-index: 5;
}

.jumbotronContent {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    z-index: 50;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.jumbotronText {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.jumbotronSubtext {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2rem;
}

.jumbotronAssetTop {
    position: absolute;
    z-index: 10;
    top: 15%;
    right: 40%;
}

.jumbotronAssetBottom {
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 10%;
    margin-bottom: -3%;
}

.bsContainer {
    width: 100%;
    display: flex;
    background: rgba(246, 246, 246, 0.5);
    flex-direction: column;
    margin-top: 6%;
    z-index: 20;
    position: relative;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    position: relative;
}

.bsContainer h2 {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bsContainer p {
    color: var(--Black, #333);
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 50%;
}

.bsContainer button {
    border-radius: 25px;
    background: var(--Black, #333);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.bsContainer img {
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 10;
    opacity: 0.8;
}

.kategoriContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
}

.kategoriBg {
    position: absolute;
    top: 0;
    margin-top: -10%;
    left: 0;
    z-index: 5;
}

.kategoriTitle {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 25%;
    position: relative;
    z-index: 10;
}

.kategoriTitle h2 {
    color: var(--Red, #fe5c6b);
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kategoriAssetBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    margin-bottom: -20%;
}

.kategoriCardContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8rem;
    position: relative;
    z-index: 30;
    cursor: pointer;
    margin-top: 3rem;
}

.kategoriCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 15px 150px 0px rgba(63, 39, 102, 0.04);
    backdrop-filter: blur(52.5px);
}

.kategoriCard p {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kategoriCard img {
    width: 400px;
}

.aboutUsContainer {
    width: 100%;
    display: flex;
    background: rgba(246, 246, 246, 0.5);
    flex-direction: column;
    z-index: 20;
    position: relative;
    padding: 2rem;
    padding-bottom: 5rem;
    margin-top: 10%;
}

.aboutUsContainer h2 {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 5rem;
    text-align: center;
}

.aboutUsContainer p {
    width: 80%;
    color: var(--Black, #333);
    text-align: justify;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-left: 6rem;
}

.aboutUsContent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 8rem;
    padding-left: 5rem;
}

.aboutUsImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 9rem;
}

.aboutUsImage {
    box-shadow: 0px 4px 35px 0px rgba(51, 51, 51, 0.25);
    border-width: 2rem;
    background-color: white;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 3rem;
}
.aboutUsImage img {
    width: 300px;
}

.aboutUsBottomAsset {
    position: absolute;
    right: 0;
    bottom: 12%;
    z-index: -1;
}

.bottomContainer {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.bottomBg {
    position: absolute;
    left: 0;
    margin-top: -40%;
    z-index: 5;
}

.visiContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 15rem;
    position: relative;
    z-index: 10;
    gap: 6rem;
}

.visiContainer h2 {
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.visiContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.visiCard {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);

    box-shadow: 0px 10px 100px 0px rgba(63, 39, 102, 0.04);
    backdrop-filter: blur(35px);
    padding: 2rem;
    max-width: 360px;
    color: var(--Black, #333);
    text-align: center;
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.misiCard {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.7);

    box-shadow: 0px 10px 100px 0px rgba(63, 39, 102, 0.04);
    backdrop-filter: blur(35px);
    padding: 0.2rem;
    max-width: 700px;
    color: var(--Black, #333);
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    display: flex;
}

.partnerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 10;
    padding-top: 4rem;
}

.partnerContainer h2 {
    color: var(--Black, #333);
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.partners {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.memberContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 10;
    padding-top: 4rem;
}

.memberContainer h2 {
    color: var(--Black, #333);
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.members {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.memberCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 230px;
    height: 230px;
    border-radius: 16px;
    opacity: 0.8;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.memberIdentity {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.memberCardText {
    display: flex;
    flex-direction: column;
}

.memberCardText h5 {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.206px; /* 160.051% */
    letter-spacing: -0.4px;
}

.memberCardText p {
    padding: 0px;
    margin: 0px;
    color: var(--gray-300, #d4d4d8);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.606px;
}

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 30.41px;
    border: 1.333px solid #fff;

    background: rgba(255, 255, 255, 0.09);

    box-shadow: 0px 24.00764px 120.0382px 0px rgba(27, 25, 68, 0.3);
    backdrop-filter: blur(20.806621551513672px);
}
